<%= form_with(model: fan_comment) do |form| %>
  <% if fan_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fan_comment.errors.count, "error") %> prohibited this fan_comment from being saved:</h2>

      <ul>
        <% fan_comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author_no %>
    <%= form.number_field :author_no %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
