<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :salt %>
    <%= form.text_field :salt %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :dm %>
    <%= form.check_box :dm %>
  </div>

  <div class="field">
    <%= form.label :roles %>
    <%= form.text_field :roles %>
  </div>

  <div class="field">
    <%= form.label :reviews_count %>
    <%= form.number_field :reviews_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
